def/force-app/main/default/flows/createcase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>yn</name>
        <label>yn</label>
        <locationX>417</locationX>
        <locationY>85</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>yn1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_resolved</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>crcase</targetReference>
            </connector>
            <label>yn</label>
        </rules>
    </decisions>
    <interviewLabel>createcase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>createcase</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>crcase</name>
        <label>crcase</label>
        <locationX>375</locationX>
        <locationY>250</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone1</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <name>Intro</name>
        <label>Intro</label>
        <locationX>185</locationX>
        <locationY>79</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>yn</targetReference>
        </connector>
        <fields>
            <name>Issue_resolved</name>
            <dataType>Boolean</dataType>
            <fieldText>Issue resolved</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Intro</startElementReference>
    <status>Draft</status>
    <variables>
        <name>False1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>test1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
